@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #FFF;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
  padding-bottom: 1000px;

}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #76A976;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 40px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

#logo{
  width:100px;
  margin-top: 20px;
}

h3 {
  color: green;
  font-size: 80px;

}






#therm1{
  width:100px;
}
#therm2{
  width:100px;
  display: none;
}
#therm3{
  width:100px;
  display: none;
}
#therm4{
  width:100px;
  display: none;
}
#therm5{
  width:100px;
  display: none;
}
#therm6{
  width:100px;
  display: none;

}

.temp {
  position: relative;
  top: 20px;
  left: 120px;
  width: 190px;
}

#button1{
  position: relative;
  top: -605px;
  left: 320px;
  width: 190px;
  border: 3px solid #000;
}

#button2{
  position: relative;
  top: -505px;
  left: 120px;
  width: 190px;
  border: 3px solid #000;
}

#button3{
  position: relative;
  top: -405px;
  left: -80px;
  width: 190px;
  border: 3px solid #000;
}

#button4{
  position: relative;
  top: -305px;
  left: -280px;
  width: 190px;
  border: 3px solid #000;
}

#button5{
  position: relative;
  top: -205px;
  left: -480px;
  width: 190px;
  border: 3px solid #000;
}

#button6{
  position: relative;
  top: -105px;
  left: -680px;
  width: 190px;
  border: 3px solid #000;
}


#none{
  position: relative;
  top: -500px;
  left: 800px;
  width: 190px;
  border: 3px solid #000;
}
#one{
  position: relative;
  top: -500px;
  left: 800px;
  width: 190px;
  border: 3px solid #000;
}

#two{
  position: relative;
  top: -500px;
  left: 800px;
  width: 190px;
  border: 3px solid #000;
}
#four{
  position: relative;
  top: -500px;
  left: 800px;
  width: 190px;
  border: 3px solid #000;
}
#six{
  position: relative;
  top: -500px;
  left: 800px;
  width: 190px;
  border: 3px solid #000;
}
#twelve{
  position: relative;
  top: -500px;
  left: 800px;
  width: 190px;
  border: 3px solid #000;
}

#forest{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#tundra{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#desert{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#chaparral{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#taiga{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#grassland{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#marine{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#freshwater{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

h2 {
  color: black;
  font-weight: 100;
  font-display: swap;
  font-size: 80px;
	text-decoration: underline;
	font-family: 'Oswald'
}

.image2{
  position: relative;
  top: 100px;
  left: 50px;
  width: 580px;
  height:350px;
  border: 5px solid #000;
}
#image{
  display:none;
}

#intro{
  position: relative;
  width: 100%;
  height: 100%;
}

#us{
	position: relative;
}

#Solar{
	width:300px;
  height: 300px;

}

#Wind{
	width:300px;
  height: 300px;

}

#Hydro{
	width:300px;
  height: 300px;

}

#Geo{
	width:300px;
  height: 300px;

}

#Bio{
	width:300px;
  height: 300px;
}

#nuclear{
	width:300px;
  height: 300px;
}

#oil{
	width:300px;
  height: 300px;
}

#gas{
	width:300px;
  height: 300px;
}
#coal{
	width:300px;
  height: 300px;
}

#renewable{
	width:600px;
  height: 450px;
}

#nonrenewable{
	width:600px;
  height: 450px;
}

#Tidal{
	width:300px;
	height: 300px;
}

#turbinel{

	width:420px;
  height: 315px;
	border: 5px solid #000;

}

#watert{

	width:420px;
  height: 315px;
	border: 5px solid #000;
}

#vid{

	border: 5px solid #000;
}

#text{

<<<<<<< HEAD
	font-size: 100px;
}

#solar{
	width:420px;
  height: 315px;
	border: 5px solid #000;
}
#tidalvid{
	position: relative;
  top: 100px;
  left: 155px;
  width: 420px;
  height:315px;
  border: 5px solid #000;
}

#textt{
	position: relative;
	top: -250px;
	left: 700px;
	width: 420px;
	height:315px;
}

#tidalgif{
	position:absolute;
	top: 700px;
	left:150;
	width:420px;
  height: 315px;
	border: 5px solid #000;
}

#wavegif{
	position:absolute;
	top: 700px;
	left: 250px;
	width:420px;
  height: 315px;
	border: 5px solid #000;
}

#title{
	position:absolute;
	top: 1050px;
	left: 385px;

}
=======
}

animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 4px;
	font-family: 'Oswald';
	font-size: 25px;
	color: #FFF;
	text-decoration: none;
}

.blue
{
	background-color: #84B3B3;
	border-bottom: 5px solid #7F9F9F;
	text-shadow: 0px -2px #94C9C9;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

#rainforest{
	position: absolute;
  top: 375px;
  left: 75px;
  width: 400px;
}
#tropical{
	position: absolute;
  top: 325px;
  left: 500px;
	font-size: 40px;
	color: black;
	font-family: 'Cabin';
}
#trop{
  position: absolute;
  top: 420px;
  left: 600px;
	font-size: 18px;
	font-family:'Cabin'

}

#deciduous{
	position: absolute;
  top: 700px;
  right: 125px;
  width: 400px;
}
#decid{
	position: absolute;
  top: 725px;
  left: 500px;
	font-size: 40px;
	color: black;
	font-family: 'Cabin';
}
#de{
  position: absolute;
  top: 825px;
  left: 350px;
	font-size: 18px;
	font-family:'Cabin'

}

#coniferous{
	position: absolute;
  top: 1100px;
  left: 75px;
  width: 400px;
}
#conif{
	position: absolute;
  top: 1105px;
  left: 500px;
	font-size: 40px;
	color: black;
	font-family: 'Cabin';
}
#co{
  position: absolute;
  top: 1200px;
  left: 500px;
	font-size: 18px;
	font-family:'Cabin'

}


#tunr{
	position: absolute;
  top: 850px;
  right: 125px;
  width: 400px;
}
#tund{
	position: absolute;
  top: 800px;
  left: 600px;
	font-size: 40px;
	color: black;
	font-family: 'Cabin';
}
#tu{
  position: absolute;
  top: 900px;
  left: 350px;
	font-size: 18px;
	font-family:'Cabin'
>>>>>>> master

#title2{
	position:absolute;
	top: 1050px;
	left: 890px;
}
