@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #FFF;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
  padding-bottom: 1000px;

}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #76A976;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 40px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

#logo{
  width:100px;
  margin-top: 20px;
}

h3 {
  color: green;
  font-size: 80px;

}






#therm1{
  width:250px;
}
#therm2{
  width:250px;
  display: none;
}
#therm3{
  width:250px;
  display: none;
}
#therm4{
  width:250px;
  display: none;
}
#therm5{
  width:250px;
  display: none;
}
#therm6{
  width:250px;
  display: none;

}

div.temp {
  position: relative;
  top: 100px;
  left: 250px;
  width: 190px;
  border: 10px solid #FFF;
}

#button1{
  position: relative;
  top: 90px;
  left: 150px;
  width: 190px;
  border: 3px solid #000;
}

#button2{
  position: relative;
  top: 90px;
  left: 225px;
  width: 190px;
  border: 3px solid #000;
}

#button3{
  position: relative;
  top: 200px;
  left: -250px;
  width: 190px;
  border: 3px solid #000;
}

#button4{
  position: relative;
  top: 200px;
  left: -175px;
  width: 190px;
  border: 3px solid #000;
}

#button5{
  position: relative;
  top: 310px;
  left: -650px;
  width: 190px;
  border: 3px solid #000;
}

#button6{
  position: relative;
  top: 310px;
  left: -575px;
  width: 190px;
  border: 3px solid #000;
}

.buttons{
  background-color: #76A976;
  border: none;
  color: #000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-stretch: condensed;
  margin: 4px 2px;
  cursor: pointer;
}

#none{
  position: relative;
  top: -500px;
  left: 800px;
  width: 190px;
  border: 3px solid #000;
}
#one{
  position: relative;
  top: -500px;
  left: 800px;
  width: 190px;
  border: 3px solid #000;
}

#two{
  position: relative;
  top: -500px;
  left: 800px;
  width: 190px;
  border: 3px solid #000;
}
#four{
  position: relative;
  top: -500px;
  left: 800px;
  width: 190px;
  border: 3px solid #000;
}
#six{
  position: relative;
  top: -500px;
  left: 800px;
  width: 190px;
  border: 3px solid #000;
}
#twelve{
  position: relative;
  top: -500px;
  left: 800px;
  width: 190px;
  border: 3px solid #000;
}

#forest{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#tundra{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#desert{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#chaparral{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#taiga{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#grassland{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#marine{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#freshwater{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

h2 {
  color: black;
  font-weight: 100;
  font-display: swap;
  font-size: 50px;

}

.image2{
  position: relative;
  top: 100px;
  left: 50px;
  width: 580px;
  height:350px;
  border: 5px solid #000;
}
#image{
  display:none;
}

#intro{
  position: relative;
  width: 100%;
  height: 100%;
}

#us{
	position: relative;
}

#Solar{
	width:300px;
  height: 300px;

}

#Wind{
	width:300px;
  height: 300px;

}

#Hydro{
	width:300px;
  height: 300px;

}

#Geo{
	width:300px;
  height: 300px;

}

#Bio{
	width:300px;
  height: 300px;
}

#nuclear{
	width:300px;
  height: 300px;
}

#oil{
	width:300px;
  height: 300px;
}

#gas{
	width:300px;
  height: 300px;
}
#coal{
	width:300px;
  height: 300px;
}

#renewable{
	width:600px;
  height: 450px;
}

#nonrenewable{
	width:600px;
  height: 450px;
}

#Tidal{
	width:300px;
	height: 300px;
}

#turbinel{

	width:420px;
  height: 315px;
	border: 5px solid #000;

}

#watert{

	width:420px;
  height: 315px;
	border: 5px solid #000;
}

#vid{

	border: 5px solid #000;
}

#text{

	font-size: 100px;
}

#solar{
	width:420px;
  height: 315px;
	border: 5px solid #000;
}
#tidalvid{
	position: relative;
  top: 100px;
  left: 155px;
  width: 420px;
  height:315px;
  border: 5px solid #000;
}

#textt{
	position: relative;
	top: -250px;
	left: 700px;
	width: 420px;
	height:315px;
}

#tidalgif{
	position:absolute;
	top: 700px;
	left:150;
	width:420px;
  height: 315px;
	border: 5px solid #000;
}

#wavegif{
	position:absolute;
	top: 700px;
	left: 250px;
	width:420px;
  height: 315px;
	border: 5px solid #000;
}

#title{
	position:absolute;
	top: 1050px;
	left: 385px;

}

#title2{
	position:absolute;
	top: 1050px;
	left: 890px;
}
