@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #FFF;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
  padding-bottom: 600px;

}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #76A976;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 40px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

#logo{
  width:100px;
  margin-top: 20px;
}

h3 {
  color: green;
  font-size: 80px;

}






#therm1{
  width:100px;
}
#therm2{
  width:100px;
  display: none;
}
#therm3{
  width:100px;
  display: none;
}
#therm4{
  width:100px;
  display: none;
}
#therm5{
  width:100px;
  display: none;
}
#therm6{
  width:100px;
  display: none;

}

.temp {
  position: relative;
  top: 20px;
  left: 120px;
  width: 190px;
}

#button1{
  position: relative;
  top: -605px;
  left: 320px;
  width: 190px;
  border: 3px solid #000;
}

#button2{
  position: relative;
  top: -505px;
  left: 120px;
  width: 190px;
  border: 3px solid #000;
}

#button3{
  position: relative;
  top: -405px;
  left: -80px;
  width: 190px;
  border: 3px solid #000;
}

#button4{
  position: relative;
  top: -305px;
  left: -280px;
  width: 190px;
  border: 3px solid #000;
}

#button5{
  position: relative;
  top: -205px;
  left: -480px;
  width: 190px;
  border: 3px solid #000;
}

#button6{
  position: relative;
  top: -105px;
  left: -680px;
  width: 190px;
  border: 3px solid #000;
}


#none{
  position: relative;
  top: -700px;
  left: 600px;
	width: 700px;
	font-family: 'Oswald';
	font-size: 35px;

}
#one{
  position: relative;
	top: -700px;
  left: 575px;
	width: 800px;
	font-family: 'Oswald';
	font-size: 35px;
}

#two{
  position: relative;
	top: -700px;
  left: 575px;
	width: 800px;
	font-family: 'Oswald';
	font-size: 35px;
}
#four{
  position: relative;
	top: -700px;
  left: 575px;
	width: 800px;
	font-family: 'Oswald';
	font-size: 35px;
}
#six{
  position: relative;
	top: -700px;
  left: 575px;
	width: 800px;
	font-family: 'Oswald';
	font-size: 35px;
}
#twelve{
  position: relative;
	top: -700px;
  left: 575px;
	width: 800px;
	font-family: 'Oswald';
	font-size: 35px;
}

#black1{
	position: relative;
	top: -700px;
	left: 670px;
	width: 800px;
	font-family: 'Oswald';
	font-size: 28px;
}

#black2{
	position: relative;
	top: -700px;
	left: 600px;
	width: 800px;
	font-family: 'Oswald';
	font-size: 28px;
}

#black3{
	position: relative;
	top: -700px;
	left: 600px;
	width: 800px;
	font-family: 'Oswald';
	font-size: 28px;
}

#glacier{
	position: absolute;
	top: 850px;
	left: 700px;
	height: 210px;
	width: 500px;
	border: 3px solid #000;
}

#black4{
	position: relative;
	top: -700px;
	left: 600px;
	width: 800px;
	font-family: 'Oswald';
	font-size: 28px;
}

#black5{
	position: relative;
	top: -700px;
	left: 600px;
	width: 800px;
	font-family: 'Oswald';
	font-size: 35px;
}

#sealevel{
	position: absolute;
	top: 820px;
	left: 700px;
	height: 240px;
	width: 500px;
	border: 3px solid #000;
}

#climatechange{
	position: absolute;
	top: 775px;
	left: 640px;
	height: 200px;
	width: 300px;
	border: 3px solid #000;
}

#flooding{
	position: absolute;
	top: 775px;
	right: 150px;
	height: 200px;
	width: 300px;
	border: 3px solid #000;
}

#white1{
	position: relative;
	top: -700px;
	left: 600px;
	width: 800px;
	font-family: 'Oswald';
	font-size: 28px;
}

#white2{
	position: relative;
	top: -700px;
	left: 600px;
	width: 800px;
	font-family: 'Oswald';
	font-size: 28px;
}
#earthfire{
	position: absolute;
	top: 775px;
	left: 640px;
	height: 200px;
	width: 300px;
	border: 3px solid #000;
}

#naturaldisaster{
	position: absolute;
	top: 775px;
	right: 150px;
	height: 200px;
	width: 300px;
	border: 3px solid #000;
}

#coral{
	position: absolute;
	top: 900px;
	left: 700px;
	height: 150px;
	width: 500px;
	border: 3px solid #000;
}

#rise{
	position: absolute;
	top: 825px;
	left: 700px;
	height: 250px;
	width: 500px;
	border: 3px solid #000;
}

#simonhappy{
	position: absolute;
	top: 775px;
	left: 640px;
	height: 200px;
	width: 300px;
	border: 3px solid #000;
}

#hbeach{
	position: absolute;
	top: 775px;
	right: 150px;
	height: 200px;
	width: 300px;
	border: 3px solid #000;

}

#forest{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#tundra{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#desert{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#chaparral{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#taiga{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#grassland{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#marine{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

#freshwater{
  width:300px;
  height: 200px;
  border: 3px solid #000;
}

h2 {
  color: black;
  font-weight: 100;
  font-display: swap;
  font-size: 80px;
	text-decoration: underline;
	font-family: 'Oswald'
}

.image2{
  position: relative;
  /* top: 100px; */
	margin-top: 30px;
  left: -175px;
  width: 580px;
  height:350px;
  border: 5px solid #000;
}
#image{
  display:none;
  width: 580px;
  height:350px;
  border: 5px solid #000;
}

#image2{
  display:none;
  width: 580px;
  height:350px;
  border: 5px solid #000;
}

#intro{
  position: relative;
  width: 100%;
  height: 100%;
}

#us{
	position: relative;
	top: 10px;
	left: 50px;
	width: 580px;
	height:350px;
	border: 5px solid #000;
}

#Solar{
	width:300px;
  height: 300px;

}

#Wind{
	width:300px;
  height: 300px;

}

#Hydro{
	width:300px;
  height: 300px;

}

#Geo{
	width:300px;
  height: 300px;

}

#Bio{
	width:300px;
  height: 300px;
}

#nuclear{
	width:300px;
  height: 300px;
}

#oil{
	width:300px;
  height: 300px;
}

#gas{
	width:300px;
  height: 300px;
}
#coal{
	width:300px;
  height: 300px;
}

#renewable{
	width:600px;
  height: 450px;
}

#nonrenewable{
	width:600px;
  height: 450px;
}

#Tidal{
	width:300px;
	height: 300px;
}

#turbinel{

	width:420px;
  height: 315px;
	border: 5px solid #000;

}

#watert{

	width:420px;
  height: 315px;
	border: 5px solid #000;
}

#vid{

	border: 5px solid #000;
}

#text{

	font-size: 100px;
}

#solar{
	width:420px;
  height: 315px;
	border: 5px solid #000;
}
#tidalvid{
	position: relative;
  top: 100px;
  left: 155px;
  width: 420px;
  height:315px;
  border: 5px solid #000;
}

#textt{
	position: relative;
	top: -240px;
	left: 700px;
	width: 420px;
	height:315px;

}

#tidalgif{
	position:absolute;
	top: 950px;
	left:150;
	width:420px;
  height: 315px;
	border: 5px solid #000;
}

#wavegif{
	position:absolute;
	top: 950px;
	left: 250px;
	width:420px;
  height: 315px;
	border: 5px solid #000;
}

#title{
	position:absolute;
	top: 1300px;
	left: 385px;
	font-family: 'Cabin';

}
<<<<<<< HEAD

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 4px;
	font-family: 'Oswald';
	font-size: 25px;
	color: #FFF;
	text-decoration: none;
}

.blue
{
	background-color: #84B3B3;
	border-bottom: 5px solid #7F9F9F;
	text-shadow: 0px -2px #94C9C9;
}

.red
{
	background-color: #4F82C6;
	border-bottom: 5px solid #000;
	text-shadow: 0px -2px #000;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

#rainforest{
	position: absolute;
  top: 375px;
  left: 75px;
  width: 400px;
}
#tropical{
	position: absolute;
  top: 325px;
  left: 500px;
	font-size: 40px;
	color: black;
	font-family: 'Cabin';
}
#trop{
  position: absolute;
  top: 420px;
  left: 500px;
	width: 800px;
	font-size: 18px;
	font-family:'Cabin'

}

#deciduous{
	position: absolute;
  top: 700px;
  right: 125px;
  width: 400px;
}
#decid{
	position: absolute;
  top: 725px;
  left: 500px;
	font-size: 40px;
	color: black;
	font-family: 'Cabin';
}
#de{
  position: absolute;
  top: 825px;
  left: 200px;
	width: 650px;
	font-size: 18px;
	font-family:'Cabin'

}

#coniferous{
	position: absolute;
  top: 1100px;
  left: 75px;
  width: 400px;
}
#conif{
	position: absolute;
  top: 1105px;
  left: 500px;
	font-size: 40px;
	color: black;
	font-family: 'Cabin';
}
#con{
  position: absolute;
	top: 1200px;
  left: 500px;
	width: 700px;
	font-size: 18px;
	font-family:'Cabin';

}


#tunr{
	position: absolute;
  top: 850px;
  right: 125px;
  width: 400px;
}
#tund{
	position: absolute;
  top: 800px;
  left: 600px;
	font-size: 40px;
	color: black;
	font-family: 'Cabin';
}
#tu{
  position: absolute;
  top: 900px;
  left: 250px;
	width:600px;
	font-size: 18px;
	font-family:'Cabin'
}

#title2{
	position:absolute;
	top: 1300px;
	left: 890px;
	font-family: 'Cabin';
}


#hotdesert{
 /* position: absolute;
 	top: 337px;
	left: 125px; */
  width: 300px;
	height: 300px;
}
#hotdes{
	position: absolute;
  top: 670px;
  left: 140px;
	font-size: 30px;
	color: black;
	font-family: 'Cabin';
	font-weight: bolder;
}
#hot{
  position: absolute;
  top: 740px;
  left: 133px;
	width:280px;
	font-size: 18px;
	font-family:'Cabin'

}

#semiariddesert{
	/* position: absolute;
  top: 337px;
  left: 500px; */
	width: 300px;
	height: 300px;
}
#semiarid{
	position: absolute;
  top: 670px;
  left: 463px;
	font-size: 30px;
	color: black;
	font-family: 'Cabin';
	font-weight: bolder;
}
#semi{
  position: absolute;
  top: 740px;
  left: 453px;
	width:250px;
	font-size: 18px;
	font-family:'Cabin'

}

#coastaldesert{
	/* position: absolute;
  top: 850px;
  right: 125px; */
	width: 300px;
	height: 300px;
}
#coastal{
	position: absolute;
  top: 670px;
  left: 780px;
	font-size: 30px;
	color: black;
	font-family: 'Cabin';
	font-weight: bolder;
}
#coast{
  position: absolute;
  top: 740px;
  left: 760px;
	width:250px;
	font-size: 18px;
	font-family:'Cabin';

}

#colddesert{
	/* position: absolute;
  top: 850px;
  right: 125px; */
	width: 300px;
	height: 300px;
}
#cold{
	position: absolute;
  top: 670px;
  right: 172px;
	font-size: 30px;
	color: black;
	font-family: 'Cabin';
	font-weight: bolder;
}
#co{
  position: absolute;
  top: 740px;
  right: 120px;
	width:250px;
	font-size: 18px;
	font-family:'Cabin';

}

#chapping{
	margin-left: 200px;
}

#chaps{
	position: absolute;
	top: 400px;
	right: 220px;
}

#textttt{
	/* font-family: 'Cabin'; */
position: relative;
left:1400px;
size:10pt;
font-family:'Cabin';
}
/* s */

.column {
  float: left;
	padding: 10px;
  /* width: 50%; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.left{
	width: 10%;
}

.right{
	width: 80%;
}

#pic{
	position: relative;
	top: -150px;
	left:-5px;
  width: 480px;
  height:350px;
  border: 5px solid #000;
}

#long{
	position: relative;
	width: 350px;
	height:500px;
	border: 5px solid #000;
}

#about{
	position:absolute;
	top:725px;
	left: 290px;
	width: 480px;
	width: 480px;
  height:350px;
}

#lakes{
	position: absolute;
  top: 670px;
  left: 220px;
	font-size: 30px;
	color: black;
	font-family: 'Cabin';
	font-weight: bolder;
}

#ponds{
	position: absolute;
  top: 670px;
  left: 530px;
	font-size: 30px;
	color: black;
	font-family: 'Cabin';
	font-weight: bolder;
}

#river{
	position: absolute;
	top: 670px;
	left: 1150px;
	font-size: 30px;
	color: black;
	font-family: 'Cabin';
	font-weight: bolder;
}
#medit{
width:400px
}

#la{
width:400px
}

#vids{
	position: absolute;
	top: 1100px;
	left: 550px;
}

<<<<<<< HEAD
#pros{
	position: absolute;
	top: 950px;
	left: 100px;
	font-size: 40px;
	font-family:'Cabin';
}

#prot{
	position: absolute;
	top: 750px;
	left: 300px;
}

#cons{
	position: absolute;
	top: 950px;
	left: 700px;
	font-size: 40px;
	font-family:'Cabin';
}

#cont{
	position: absolute;
	top: 750px;
	left: 850px;
}

#present{
	position: absolute;
  top: 625px;
  right: 220px;
	width: 190px;
}

#past{
	position: absolute;
  top: 475px;
  right: 220px;
	width: 190px;
}


.timeline {
    white-space:nowrap;
    overflow-x: scroll;
    padding:30px 0 10px 0;
    position:relative;
}

.entry {
    display:inline-block;
    vertical-align:top;
    background:#4F82C6;
    color:#fff;
    padding:10px;
    font-size:12px;
    text-align:center;
    position:relative;
    border-top:4px solid #06182E;
    border-radius:3px;
    min-width:200px;
    max-width:500px;
		font-family: 'Cabin';
}

.entry img {
    display:block;
    max-width:100%;
    height:auto;
    margin-bottom:10px;
}

.entry:after {
    content:'';
    display:block;
    background:#eee;
    width:7px;
    height:7px;
    border-radius:6px;
    border:3px solid #06182E;
    position:absolute;
    left:50%;
    top:-30px;
    margin-left:-6px;
}

.entry:before {
    content:'';
    display:block;
    background:#06182E;
    width:5px;
    height:20px;
    position:absolute;
    left:50%;
    top:-20px;
    margin-left:-2px;
}

.entry h1 {
	color:#fff;
	font-size:25px;
	font-family:'Oswald';
	font-weight:bold;
	margin-bottom:10px;
	text-decoration: underline;
}


.bar {
    height:4px;
    background:#eee;
    width:100%;
    position:relative;
    top:13px;
    left:0;
}

#garbage{
	margin-left: -600px;
}

#garbageinfo{
	position: absolute;
	top: 1760px;
  right: 40px;
	width: 675px;
	color:black;
	font-size:22px;
	font-family:'Cabin';
	font-weight:bold;
	margin-bottom:10px;
}

#deforest{
	position: absolute;
	top: 1610px;
	left:200px;
	width: 500px;
	height: 400px;
}

#deforesst{
	position: absolute;
	top: 1400px;
	right:500px;
}

#dddeeforest{
	position: absolute;
	top: 1620px;
	right:150px;
	width: 500px;
	font-family:'Cabin';
	font-size:22px;
}
